<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>FoodStrap</title>
    <link href="/images/logo.png" rel="icon" type="image/x-icon" />
    <meta name="FoodStrap Team" content="" />

    <link
      href="https://unpkg.com/tailwindcss/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="/css/dd.css" rel="stylesheet" />
    <link href="post_recipe.css" rel="stylesheet" />
    <style>
      .required:after {
        content: ' *';
        color: red;
      }
    </style>

    <!-- <style>
        .body-bg {
            background-color: rgb(255,99,71);
            background-image: linear-gradient(315deg, #FF6347 0%, #5f72be 74%);
        }
    </style> -->
  </head>

  <div class="max-w-screen-xl mx-auto">
    <%- include('./partials/navbarLogged') %>

    <main class="mt-10" style="margin-top: 30px">
      <h2 class="px-2 lg:px-0 uppercase font-bold text-red-500 text-4xl">
        Post Recipe
      </h2>
      <br />
      <!-- top part starts here-->
      <div class="block lg:flex lg:space-x-2 px-2 lg:p-0 mt-10 mb-10">
        <!-- form starts here -->
        <div class="col-8 text-gray-600 font-bold">
          <form
            style="width: auto"
            id="post_recipe"
            action="/recipes/<%= recipe._id %>/?_method=PUT"
            method="POST"
          >
            <!-- Title -->
            <div class="form-row">
              <div class="col-12">
                <label for="title" class="required"> Title: </label>
                <input
                  type="text"
                  class="form-control text-gray-600"
                  id="recipe_title"
                  name="newRecipe[title]"
                  placeholder="Enter the title of your recipe"
                  value="<%= recipe.title %>"
                  required
                />
                <br />
              </div>

              <!-- Description -->
              <div class="col-12">
                <label for="description">Description:</label>
                <textarea
                  type="text"
                  class="form-control"
                  id="description"
                  name="newRecipe[description]"
                  placeholder="Add description for your recipe"
                >
<%= recipe.description %>
                </textarea>
                <br />
              </div>

              <!-- Ingredients -->
              <div class="col-12">
                <label for="ingredients" class="required">Ingredients:</label>
                <textarea
                  type="text"
                  class="form-control"
                  id="ingredients"
                  name="newRecipe[ingredients]"
                  placeholder="Add ingredients"
                  required
                >
<%= recipe.ingredients %>
                </textarea>
                <br />
              </div>

              <!-- Allergies -->
              <div class="col-12">
                <label for="allergens" class="required">Allergies:</label>
                <select class="custom-select" id="allergens" required>
                  <option value="none" selected>None</option>
                  <option value="egg">Egg</option>
                  <option value="fish">Fish</option>
                  <option value="dairy">Dairy</option>
                  <option value="peanuts">Peanuts</option>
                  <option value="shellfish">Shellfish</option>
                  <option value="soy">Soy</option>
                  <option value="tree_nuts">Tree Nuts</option>
                </select>
                <br />
                <br />
              </div>

              <!-- Directions -->
              <div class="col-12">
                <label for="steps" class="required">Directions:</label>
                <textarea
                  type="text"
                  class="form-control"
                  id="steps"
                  name="newRecipe[directions]"
                  placeholder="Enter cooking directions"
                  required
                >
 <%= recipe.directions %>
                </textarea>
                <br />
              </div>

              <!-- Cuisine -->
              <div class="col-12">
                <label for="cuisine">Cuisine:</label>
                <input
                  type="text"
                  class="form-control"
                  id="cuisine"
                  name="newRecipe[cuisine]"
                  placeholder="Enter cuisine type"
                  value="<%= recipe.cuisine %>"
                /><br />
              </div>

              <!-- Cook Time -->
              <div class="col-3 form-row">
                <label class="p-2">Cook Time:</label>
              </div>
              <div class="col-2 form-row">
                <input
                  type="text"
                  class="form-control"
                  id="hours"
                  pattern="[0-9]+"
                  placeholder="hours"
                  value="<%= !recipe.prepHrs ? '' : recipe.prepHrs %> "
                />
              </div>
              <div class="col-2 form-row">
                <p class="p-1.5">hr</p>
              </div>
              <div class="col-2 form-row">
                <input
                  type="text"
                  class="form-control"
                  id="minutes"
                  pattern="[0-9]+"
                  placeholder="minutes"
                  value="<%= !recipe.prepMins ? '' : recipe.prepMins %> "
                />
              </div>
              <div class="col-2 form-row">
                <p class="p-1.5">min</p>
              </div>

              <div class="col-12 mb-3">
                <label for="formFileMultiple" class="form-label"
                  >Attach picture</label
                >
                <input
                  class="form-control"
                  type="file"
                  id="formFileMultiple"
                  multiple
                />
              </div>
            </div>
            <div class="col-6">
              <button
                type="submit"
                class="btn font-bold bg-red-500 w-full text-gray-200"
                value="Post recipe"
              >
                Post
              </button>
            </div>
          </form>
        </div>

        <!-- form ends here -->
        <!-- right sidebar -->
        <div class="w-full lg:w-1/3 px-3">
          <div class="mb-4 py-4">
            <img
              class="post_recipe_blank_sheet"
              src="/images/post_recipe_blank_sheet.jpg"
              alt="post_recipe_blank_sheet"
            />
          </div>

          <!-- divider -->
          <div class="border border-dotted"></div>

          <!--subscribe -->
          <div class="p-1 mt-4 mb-4">
            <h5 class="font-bold text-lg uppercase text-gray-700 mb-2">
              Join Our Email List
            </h5>
            <p class="text-gray-600">
              Subscribe to our newsletter. We deliver the best health related
              articles to your inbox
            </p>
            <input
              placeholder="Enter you email address"
              class="
                text-gray-700
                bg-gray-100
                rounded-t
                hover:outline-none
                p-2
                w-full
                mt-4
                border
              "
            />
            <button
              class="
                px-4
                py-2
                bg-red-500
                text-gray-200
                rounded-b
                w-full
                capitalize
                tracking-wide
              "
            >
              Subscribe
            </button>
          </div>

          <!-- divider -->
          <div class="border border-dotted"></div>
        </div>
      </div>
    </main>
    <!-- main ends here -->

    <%- include('./partials/footer') %>
  </div>
</html>
